.toggle-all-answers-button, 
.toggle-solution-button {
    margin-bottom: 15px;
    cursor: pointer;
}

.question-answer {
    margin-bottom: 10px;

    .question {
        cursor: pointer;
        .toggle-answer-icon {
            color: #DDDDDD;
        }
    }
    .answer {
        margin-bottom: 25px;
        display: none;
    }
    .answer, .answer h4, .answer h5 {
        color: #ff5722;
    }
    .answer h5 {
        font-weight: 600;
    }
}

.solution {
    display: none;
}

table td.grade-col {
    width: 100px;
}