.toggle-all-answers-button {
    margin-bottom: 15px;
    cursor: pointer;
}

.question {
    margin-bottom: 7px;
    cursor: pointer;

    .toggle-answer-icon {
        color: #DDDDDD;
    }
}

.answer {
    color: red;
    display: none;
}
