.toggle-all-answers-button, 
.toggle-solution-button {
    margin-bottom: 15px;
    cursor: pointer;
}

.question {
    margin-bottom: 7px;
    cursor: pointer;

    .toggle-answer-icon {
        color: #DDDDDD;
    }
}

.answer {
    color: red;
    display: none;
}

.solution {
    display: none;
}

table td.grade-col {
    width: 110px;
}